body{
    background-color: #F5F0E1;
    min-height: 100vh;
}
main{
    margin:70px;
}
.everything{
    display: flex;
  gap: 40px;
  align-items: flex-start;
}
.cart_details{
    width: 60%;
}
.cart_totals{
    width: 40%;text-align: center;
}
h2{
    font-size: xx-large;
    margin-top: 0px;
    background-color: #f3e9d7;
    border-bottom: 2px solid #ddd;
    padding: 2px;
    
}
.checkout{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
    border: none;
    padding: 10px;
    background-color: #d6bfa6;
}
.checkout:hover{
    background-color: #b08968;
}
.cart_totals a{
    text-decoration: none;
    color: #858383;
    font-size:17px ;
}
.page_name{
    font-size: larger;
    font-family: Georgia;
    padding-bottom: 30px;
    padding-left: 10px;
}
.products_header,
.product {
  display: grid;
  grid-template-columns: 10px 80px 1fr 130px 130px 130px;
  align-items: center;
  gap: 15px;
}
.products_header {
    font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  background: #f3e9d7;
}
.product {
    font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}
.product:hover{
    background-color:#f3e9d7 ;
}
img {
  width: 60px;
}
button {
  cursor: pointer;
}

.remove {
    color:#b08968 ;
  background: none;
  border: none;
  font-size: 25px;
  opacity: 0.8;
  padding: 3px 0px;
}
.remove:hover{
    color: #d6bfa6;
}

.quantity button {
  padding: 5px 6px;
}
.minus,
.plus{border: none;
background-color: #d6bfa6;
border-radius: 10px;
}
.minus:hover{
    background-color: #b08968;
}
.plus:hover{
    background-color: #b08968;
}
.coupon{
    padding: 10px 0px 0px 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7a553a;
  flex-direction: column;
  
}
input{
    border:none ;
    border-bottom: 2px solid #aaa;
    background: transparent;
    outline: none;
    width: 30%;
    padding: 5px;
    width: 250px;
    font-size: 14px;
}
input:focus{
    border: #7a553a solid 2px;
    border-radius: 4px;
}
::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.apply{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
    border: none;
    padding: 10px;
    background-color: #d6bfa6;
}
.apply:hover{
    background-color: #b08968;
}
.coupon_row {
  display: flex;
  align-items: center;
  gap: 10px; /* مسافة بين input و button */
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wishlist{
    padding: 10px 0px 0px 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7a553a;
  flex-direction: column;
}
.wishlist a{
    text-decoration: none;
    color: #858383;
    padding-left: 23px;
    font-size:17px ;
}
.wishlist a:hover{
    color: #7a553a;
}