*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#F5F0E1;
    font-family: Georgia;
}
h1{
    text-align:center;
    color:#462a1e ;
    margin:40px;
}
.organize{
    display:flex;
    gap:40px;
    width:90%;
    margin:auto;
}
.left{
    width:50%;
}
.right{
    width:50%;
}
section{
    background:#eeddca;
    border:2px solid #4A3728;
    border-radius:20px;
    margin-bottom:20px;
}
fieldset{
    font-size: 20px;
    border:none;
    padding:20px;
    margin-top:15px ;
}
legend{
    font-weight:bold;
    margin-bottom:0px;
    color:#3f261b;
}
legend>img{
    height: 40px;
    width:40px;
    border-radius:100%;
    vertical-align: middle;
}
table{
    width:100%;
}
tr{
    height:45px;
}
td{
    width:50%;
}
label{
   color:#3f261b;
    font-size:18px; 
}
input{
    width:90%;
    padding:8px;
    border-radius:20px;
    border:2px solid #5a2d16;
    background:#F5F0E1;
    font-size:18px ;
}
input[type="radio"]{
    width:auto;
    accent-color: #a07e5e;
}
.inf-visa{
    display: none;
}
input[type="submit"]{
    display:block;
    margin:20px auto;
    width:600px;
    padding: 12px;
    border-radius: 40px;
    background:#5a2d16;
    color:white;
}

input[type="submit"]:hover {
    background-color: #a07e5e;
}
