


.navbar{
  display: flex;
  justify-content: space-between;
  align-items:center;




  


body.vertical. navbar{
  position: fixed;
  top:0;
  left:0;
  width:220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding:20px;
  overflow-y:auto;

}




  




  body.vertical. navbar{
    background: #f5f0e1;}
body.dark.vertical .navbar {
  background: #1f1b16;
}



  body.vertical.nav-left{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:20px;}



  body.vertical. navlinks{
    display: flex;
    flex-direction:column;
    gap:16px;
    margin-top: 10px;}


body.vertical.nav-right{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;}

  
body.vertical .cart-link,
body.vertical .user-btn,
body.vertical .mode {
  font-size: 22px;
}


body.vertical .cart-link,
body.vertical .user-btn,
body.vertical .mode {
  color: #222;
}


body.dark.vertical .cart-link,
body.dark.vertical .user-btn,
body.dark.vertical .mode {
  color: #f5f0e1;
}


body.vertical main {
  margin-left: 220px;
}


.layout {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3000;

  background: #f5f0e1;
  padding: 10px;
  border-radius: 10px;
}

body.dark .layout {
  background: #1f1b16;
  color: #f5f0e1;
}
