.categories.alt-layout .categories-container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  justify-content: center;
  gap: 20px;
}


.categories.alt-layout .category-item {
  width: 250px;
  height: 150px;
  font-size: 22px;
  border-radius: 20px;

  background: linear-gradient(135deg, #ff9ecb, #ffc2dd);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
