*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: #F5F0E1;
}

div.h1{
    text-align: center;
    padding-top: 10px;
}
div.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    
}
div.img img{
width: 400px;
border-radius: 20px;
margin-top: 10px;
}
div.icon img{
    width: 30px;
    outline: none;
    height: 35px;
}
div.icon button{
    flex: 1;             
    border: none;      
    display: flex;       
    justify-content: center; 
    align-items: center;
    background-color: #F5F0E1;
}
div.icon button:hover{
    opacity: 0.5;
}
div.icon {
    display: flex;       
    width: 100%;        
    height: 50px;
}
div.word{
    text-align: center;
    padding: 10px;
    background-color:#B08968;
    border-radius: 20px;
    
}
h1.h1{
    font-size: 30px;
}
div.title{
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 10px;
}
div.javabutton{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    }
div.quantity h3{
    font-weight: 300;
    font-size: 15px;
}
div.threebuttons{
    margin-left: 15px;
    border: dotted 1.5px #F5F0E1;
    border-radius: 5PX;
    width: 100px;
height: 30px;
}
div.threebuttons button{
background-color:transparent;
border: none;
padding: 3px;
width: 40px;
height: 25px;
}
