@import url('https://fonts.googleapis.com/css2?family=Georgia&display=swap')
*{
    margin:0;
    padding:0;
}
body{
   min-height: 100vh;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: flex;
     justify-content: center;
    align-items: center;
    padding: 20px;
}
main{
    text-align: center;
    padding: 35px;
    border-radius: 30px;
    width: 30%;
    height: 90vh;}
.del{
    font-size: 50px;
    margin-bottom: 5px;
}   
.worry{
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 17px;}
form{
    text-align: left;
}
.in_addres{
    width:90% ;
    padding: 5px 12px;
    border-radius: 10px;
    margin-top: 3px ;
    margin-bottom: 15px;
} 
.addres{
    width: 70%;
    display: block;
    margin-bottom:2px ;
    text-align: left;
    font-weight: bold;
} 
 .keep{
    background-color: black;
    color: azure;
    display: block;
    width:90% ;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 15px;
    border: none;
}
.keep:hover{
    text-decoration: underline;
}
.have{
    display: block;
    text-align: center;
    margin-top: 20px;
}
pre{
    display: inline;
}
.login{
     text-decoration: none;
}
.login:hover{
     text-decoration: underline;
}
