*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#F5F0E1;
    font-family: Georgia;
    margin-top: 50px;
    margin-bottom: 50px;
}
.link{
    display:flex;
    gap:10px;
    margin-left:20px;
    margin-bottom:30px;
    margin-top:30px;
}
.link>a{
    text-decoration:none;
    color:#3B2A22;
    margin:0;
    font-size:30px;
}
p{
    text-align:center;
    color:#462a1e ;
    font-size: 20px;
    margin-bottom: 10px;
}
p>a{
    text-decoration: none;
    color:#c0896e ;
}
a:hover{
    color:#5a2d16 ;
}
img{
    display:block;
    margin:auto;
    width:1300px; 
    height:auto; 
    border-radius: 40px;
}
