*{
    margin:0;
    padding:0;
}
body{
   min-height: 100vh;
    width: 100%;
    background-color: #F5F0E1;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: flex;
     justify-content: center;
    align-items: center;
    padding: 20px;
}
main{
    background-color: #D6BFA6;
    text-align: center;
    padding: 35px;
    border-radius: 30px;
    width: 30%;
    height: 90vh;}
.page{
    font-size: 50px;
    margin-bottom: 5px;
}   
.fill{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 17px;}form{
    text-align: left;
}
.in_first,.in_last,.in_phone,
.in_email,.in_password,.in_confirm
{
    width:90% ;
    padding: 5px 12px;
    border-radius: 10px;
    margin-bottom: 7px;
} 
.first,.last,.phone,.email,.password,.confirm{
    width: 70%;
    display: block;
    margin-bottom:2px ;
    text-align: left;
    font-weight: bold;
}  
.save{
    color:#F5F0E1  ;
    display: block;
    width:90% ;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #3B2A22;
    font-size: 15px;
    border: none;
}
.save:hover{
    text-decoration: underline;
    background-color:#B08968;
}
.have{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.log{
     color:#7A553A ;
     text-decoration: none;
}
.log:hover{
     text-decoration: underline;
}
