body{

background-color: #F5F0E1;
    font-family: Arial, sans-serif; 
}


.empty-wishlist {
    text-align: center;
    padding: 100px;
    color: #3B2A22;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 40px;
}



h2 {
    margin-bottom: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
     color:#3B2A22;
    
}

.empty-wishlist a {
   
    margin-top: 15px;
    padding: 10px 20px;
    background-color:#3B2A22;
    text-decoration: none;
    border-radius: 8px;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative; 
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);  
}

.img-box {
    width: 100%;
    height: 300px; 
    border-radius: 10px;
      overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;  
}


.shop-button {
    padding: 12px 25px;
    background-color: #3B2A22;
    color: white;
    border-radius: 8px;
    font-weight: bold;
  
}

.shop-button:hover {
    background-color: #7A552A;
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


.remove-button, .add-button {
    padding: 8px 15px;
    background-color: #7A552A;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.card p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}